@media(max-width: 800px) {
    /* menu da pagina responsive */
    .menu {
        margin-top: 5px;
        margin-left: -100%;
        transition: 0.4s;
        position: fixed;
        top: 50px;
    }
    #bt_menu:checked~.menu {
        margin-left: 0;
    }
    .menu ul li {
        width: 100%;
        float: none;
        background-color: #222;
    }
    .menu ul ul {
        position: static;
        overflow: hidden;
        max-height: 0;
        transition: 0.4s;
    }
    .menu ul li:hover ul {
        height: auto;
        max-height: 200px;
    }
    label[for="bt_menu"] {
        display: block;
        position: fixed;
        z-index: 3;
        background-color: #222;
    }
    /* fim do menu responsive */
    .title-curso-buy {
        padding-top: 10px;
    }
    .title-header {
        font-size: 40px;
    }
    .title-curso-buy p {
        font-size: 14px;
        letter-spacing: 0;
    }
    .btn-buy-curse {
        padding: 5px 20px;
    }
    .uelogo {
        width: 30%;
    }
    .ueude {
        width: 70%;
    }
    .noticia-content {
        width: 100%;
    }
    .noticia-item {
        width: 100%;
        margin: 50px 0;
        padding: 0;
    }
    .noticia-item p {
        padding: 10px;
    }
    .img-notice {
        width: 30%;
        height: 80px;
        border-radius: 5px;
    }
    .btn-notice {
        position: absolute;
        bottom: -50px;
        right: 0;
    }
    .not-item {
        flex-direction: column;
        width: 100%;
        float: none;
        height: 100%;
        position: relative;
    }
    .not-item p {
        padding-bottom: 80px;
    }
    .btn-curso-notice {
        margin-bottom: 20px;
    }
    /* rodape content */
    .rodape-content {
        display: none;
    }
    .rodape-menu-responsive {
        display: block;
        border-radius: 100%;
        padding: 10px 15px;
        width: 60px;
        height: 60px;
        font-size: 36px;
        background-color: #069;
        position: absolute;
        top: 20px;
        left: 20px;
        color: white;
        list-style: none;
        border: none;
        outline: none;
        cursor: pointer;
    }
    .rodape-sub-menu-res {
        display: none;
        position: absolute;
        bottom: 50px;
        background-color: #222;
        padding: 10px 50px;
    }
    .rodape-sub-menu-res ul li {
        list-style: none;
        padding: 5px;
        padding: 2px;
    }
    .rodape-sub-menu-res a {
        color: white;
    }
    .rodape-sub-menu-res a:hover {
        color: #069;
    }
}