@media(max-width: 800px) {
    /* menu da pagina responsive */
    .menu {
        margin-top: 5px;
        margin-left: -100%;
        transition: 0.4s;
        position: fixed;
        top: 50px;
    }
    #bt_menu:checked~.menu {
        margin-left: 0;

    }
    .menu ul li {
        width: 100%;
        float: none;
        background-color: #222;
    }
    .menu ul ul {
        position: static;
        overflow: hidden;
        max-height: 0;
        transition: 0.4s;
    }
    .menu ul li:hover ul {
        height: auto;
        max-height: 200px;
    }
    label[for="bt_menu"] {
        display: block;
        position: fixed;
        z-index: 3;
        background-color: #222;
    }
    /* fim do menu responsive */

    .title-curso-buy {
        padding-top: 50px;
    }
    .title-header {
        font-size: 40px;
    }
    .title-curso-buy p {
        font-size: 14px;
        letter-spacing: 0;
    }
    .btn-buy-curse {
        padding: 5px 20px;
    }
    .uelogo {
        width: 40%;
    }
    .ueude {
        width: 80%;
    }


    .notice-content {
        flex-direction: column;
    }
    .card-content {
        width: 100%;
    }
    .card-item {
        width: 100%;
    }

    
}